@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap');

img {
    width: 500px;
    height: 500px;
}

.event-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 0 200px;
}

h2 {
    font-size: 4em;
    text-align: center;
}

h3 {
    font-size: 2em;
    text-align: center;
}